<a href="https://colab.research.google.com/github/arstotrix/dh_hackathon_2021/blob/main/analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [21]:
def getdf(link):
#link = 'https://raw.githubusercontent.com/arstotrix/dh_hackathon_2021/main/mems_metadata_nastya_yescommas.csv'
  data = pd.read_csv(link, sep = ';')
  data = data[['ID',	'imgviews',	'imgvotes',	'comments',	'memedate',	'years_ago',	'imgname',	'imgtext',	'tags', 'tagslist2']]

In [11]:
df_light =

In [15]:
#data['tags'] = data_tags['tags']
data.head()

       ID  ...                       tags
0  3hvw6r  ...   ['hide the pain harold']
1  3hz5c8  ...    ['one does not simply']
2  3i0436  ...  ['batman slapping robin']
3  3i0koz  ...       ['the rock driving']
4  3i1148  ...    ['one does not simply']

[5 rows x 9 columns]

In [18]:
data.groupby(data['memedate'])['ID'].count()
#merge last year data

memedate
1 month ago      281
1 week ago       299
1 year ago       313
10 months ago    213
11 months ago    180
12 months ago    184
2 months ago     446
2 weeks ago      799
2 years ago      250
3 months ago     324
3 weeks ago      196
3 years ago      211
4 months ago     339
4 weeks ago      110
4 years ago      177
5 months ago     297
5 years ago      119
6 months ago     339
6 years ago      115
7 months ago     304
7 years ago       63
8 months ago     280
8 years ago       15
9 months ago     257
9 years ago        1
Name: ID, dtype: int64

In [ ]:
#